<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#549933" />
    <link rel="manifest" href="app.webmanifest" />
    <link rel="icon" href="./food-icons.png" />
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>sumaculinary.</title>
    <meta
      name="desc"
      content="the best way to find the best reastaurant"
    />
  </head>

  <body>
    <a href="#thecontent" class="skip">To the Content</a>
    <header>
      <div class="header-con">
        <ul class="nav-mobile">
          <li><button id="drawer" href="#" class="menu_drawer">☰</button></li>
        </ul>
        <h1 class="headertitle">sumaculinary.</h1>
        <nav id="nav" class="navbar">
          <ul class="navbar-list">
            <li class="navbar-item-list"><a href="#">Home</a></li>
            <li class="navbar-item-list"><a href="#/favorite">Favorite</a></li>
            <li class="navbar-item-list"><a href="https://www.linkedin.com/in/ucok-sayuti-903290218/">About Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="hero">
      <div class="hero-con">
        <h1 class="hero-big-title">Suma Culinary</h1>
        <p class="hero-description">Find Your Favorite Indonesian Restaurant</p>
      </div>
    </div>
    <main id="main-content" tabindex="0"></main>
    <footer>
      <p>Made with LOVE by Ucok Sayuti &#169; 2024</p>
    </footer>
  </body>
</html>
